.wrapper {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    z-index: 99;
}
.logo {
    font-size: 25px;
    color: white;
    font-weight: 900;
}
.leftW {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 900;
    color: white;
}